@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap";
body {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 45px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  display: flex;
}

body * {
  box-sizing: border-box;
}

.main-text, .logo, .login form label, .login form h2, aside ul a, aside h2 {
  color: #1ff8aa;
  text-shadow: 0 0 3px #000;
}

button {
  height: 40px;
  min-width: 120px;
  background: #1ff8aa;
  border: 1px solid #000;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 700;
}

main {
  width: 100%;
  display: flex;
}

section:not(.content) {
  display: none;
}

section:not(.content):target {
  display: block;
}

aside {
  background: #d9d9d9;
  border: 2px solid #1ff8aa;
  border-radius: 30px;
  padding: 0 5px 40px;
}

aside.hide {
  display: none;
}

aside h2 {
  text-align: center;
  margin: 0 30px 30px;
  font-size: 96px;
}

aside ul {
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

aside ul a {
  width: 100%;
  text-shadow: 0 0 2px #000;
  background: #fff;
  border: 1px solid #1ff8aa;
  border-radius: 30px;
  padding: 5px 30px 5px 20px;
  text-decoration: none;
  display: block;
}

.login form {
  width: 100%;
  max-width: 500px;
  background: #c4c4c4;
  border: 5px solid #1ff8aa;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px 16px;
  display: flex;
}

.login form h2 {
  margin: 0 0 30px;
  font-size: 96px;
}

.login form label {
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 40px;
  display: flex;
}

.login form label input {
  height: 40px;
  min-width: 465px;
  border: 1px solid #1ff8aa;
  border-radius: 25px;
  padding: 0 30px;
}

.logo {
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  font-size: 144px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.orders ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.orders ul li {
  min-height: 40px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  align-items: center;
  padding: 5px 0;
  display: flex;
}

.orders ul li:nth-child(2n+1) {
  background: #eceaea;
}

.orders ul li:nth-child(2n) {
  background: #1ff8aa80;
}

.orders ul li .icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.orders ul li .icon svg {
  color: #000;
}

.orders ul li .name {
  flex: 1;
  padding-left: 5px;
}

.orders ul li > * {
  padding: 0 15px;
}

.orders ul li .checkbox svg {
  color: gray;
  font-size: 52px;
}

.orders ul li .checkbox.checked svg {
  color: #0fa958;
}

.progress-bar-outline {
  width: 100%;
  height: 40px;
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
}

div[id*="progress-bar"] {
  height: 100%;
  width: 0;
  background-color: red;
  border-radius: 20px;
  transition: width .5s ease-in-out;
}

div:hover [id*="progress-bar"] {
  width: 200px;
}

#dashboard h3 {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 0 30px 0 60px;
}

/*# sourceMappingURL=index.fcb3f8e3.css.map */
