.logo {
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 144px;
  margin-bottom: 32px;
  color: $themeColor;
  text-shadow: 0 0 3px black;
}