.orders {
  ul {
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      min-height: 40px;
      padding: 5px 0;
      border-radius: 20px;
      border: 1px solid black;
      width: 100%;

      &:nth-child(odd) {
        background: $greyLightColor;
      }

      &:nth-child(even) {
        background: rgba($themeColor, 0.5);
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: black;
        }
      }

      .name {
        flex: 1;
        padding-left: 5px;
      }

      > * {
        padding: 0 15px;
      }

      .checkbox {

        svg {
          color: grey;
          font-size: 52px;
        }

        &.checked svg {
          color: $themeColor;
        }
      }

      .delete {
        svg {
          color: grey;
          font-size: 20px;
        }
      }
    }

    .add {
      color: $themeColor;
      font-size: 45px;
    }
  }
}
